<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11417.bill">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gg"
        android:label="天天记账"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".In" />
        <activity android:name=".Out" />
        <activity android:name=".Datasort" />
        <activity android:name=".Datasort2"></activity>
    </application>

</manifest>